<div class="page_left_panel col-md-2">
  <div class="left_panel_menu">
   <ul>
        <li>
          <a href="#">
            <h4>ROOM MANAGEMENT</h4>
          </a>
        </li>
        <li>
          <a href="{% url 'dashboard_user_rooms' %}">
          <!-- <span> <i class="fa fa-tachometer" aria-hidden="true"></i></span> -->
              <p>Room Dashboard</p>
            </a>
        </li>
        <li>
          <a href="#">
            <h4>TABLET ROOMS</h4>
          </a>
        </li>
        <li>
          <a href="{% url 'tablet_rooms' %}">
          <!-- <span> <i class="fa fa-flag" aria-hidden="true"></i> </span> -->
            <h4></h4>
            <p>Room Dashboard</p>
            </a>
        </li>
        <li>
          <a href="#">
            <h4>LEADERBOARDS</h4>
            <p></p>
            </a>
        </li>
        <li>
          <a href="{% url 'leadership_user_top' %}" target="_blank">
          <!-- <span> <i class="fa fa-flag" aria-hidden="true"></i> </span> -->
          <h4></h4>
          <p>Open Leaderboard App </p>
          </a>
        </li>
        </li>
        <li>
          <a href="#">
              <h4>ACCOUNT SETTINGS</h4>
              <p></p>
            </a>
        </li>
        <li>
          <a href="{% url 'change_password' %}">
          <!-- <span> <i class="fa fa-key" aria-hidden="true"></i> </span> -->
              <h4></h4>
              <p>Change Password</p>
            </a>
        </li>
        <li>
           <a href="{%url 'user_messages' %}">
              <h4></h4>
              <p>Message</p>
            </a>
        </li>
    </ul>
  </div>
</div>