.gm-clue-element .gm-clue-on i{
    color: rgba(20, 195, 211, 1);
}

.newclue_lock > li a i.fa-close {
    color: rgb(209, 6, 6);
    font-size: 42px;
}

.logo-container {
    margin-top: 15px;
    position: absolute;
    left: 0px;
    top: 0px;
}

div#photoClueContainer {
    position: fixed;
    z-index: 99;
    background-color: #000;
    width: 100%;
    height: 100%;
    text-align: center;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}
