
.spy_default_window .displayValue {
    text-align: left;
    font-size: 160px;
    line-height: inherit;
    color: #6391e4 !important;
    font-weight: 900;
}
.spy_default_window .displayValue span {
    font-size: 160px;
    line-height: inherit;
    color: #6391e4 !important;
    font-weight: 900;
    margin-left: -30px;
    margin-right: 0;
    text-align: center;
}
.spy_default_window .displayValue i {
    font-style: normal;
    line-height: 100%;
    vertical-align: top;
    white-space: unset;
    word-wrap: unset;
    position: relative;
    top: -15px;
}

.cust_counter_wrap .countdown {
    background-color: transparent !important;
}
.default_head_ttl h2 {
    font-weight: 900;
    font-size: 40px;
    color: #6391e4;
}
.default_awaiting h1 {
    font-weight: 700;
    font-size: 48px;
    white-space: pre-wrap;
    color: #6391e4 !important;
}



.spy_left_box .inner_waiting_timer {
    padding: 0 0 0 90px;
}
.default_cluesBox {
    width: 100%;
    float: right;
    position: absolute;
    right: 0;
    top: 50%;
    padding: 0px 10px;
    margin: 0px;
    text-align: right;
}
.default_cluesBox .displayValue {
	font-size: 50px;
    text-align: right;
}
.default_cluesBox .displayValue li {
    width: auto;
    margin-bottom: 10px;
    margin-right: 10px !important;
}

.default_cluesBox h2 {
    font-weight: 900;
    font-size: 72px;
    color: #6391e4 !important;
    margin-bottom: 10px;
    text-align: right;
}

.theam_img h2 {
    color: #6391e4 !important;
    font-size: 61px;
    font-weight: 600;
}
.height100prsnt{
	height: 100%
}

@media screen and (max-width:1170px) {
  .theam_img h2 {
     bottom:10px;
  }
}

.gm-clue-element .gm-clue-on i{
    color: rgba(20, 195, 211, 1);
}

.newclue_lock > li a i.fa-close {
    color: rgb(209, 6, 6);
    font-size: 42px;
}

.logo-container {
    margin-top: 15px;
    position: absolute;
    left: 0px;
    top: 0px;
}

div#photoClueContainer {
    position: fixed;
    z-index: 99;
    background-color: #000;
    width: 100%;
    height: 100%;
    text-align: center;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}
