{% extends "portals/base_user_portal.html" %}
{% load staticfiles %}
{% block content %}
<div class="page_right_panel col-md-10">
<div class="waitng_page">
  <div class="inner_left_panel">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="leader_heading">
            <h1>Crematory</h1>
            <h2>53.1% <span>Escape Rate</span></h2>
          </div>
        </div>
        <div class="col-md-3">
          <div class="leader_box ">
          <h2 class="dark_blue_box">This Week</h2>
          <div class="leader_table">
            <table cellpadding="0" cellspacing="0" border="0">
          <tr>
          <td align="left">wizzards</td>
          <td align="right">04:18.65</td>
          </tr>
          </table>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="leader_box ">
          <h2 class="dark_green_box">Month</h2>
          <div class="leader_table">
          <table cellpadding="0" cellspacing="0" border="0">
          <tr>
          <td align="left">parchmingette's</td>
          <td align="right">04:18.65</td>
          </tr>
          <tr>
          <td align="left">Panper Yourself</td>
          <td align="right">04:18.65</td>
          </tr>
          <tr>
          <td align="left">wizzards	</td>
          <td align="right">04:18.65</td>
          </tr>
          <tr>
          <td align="left">wizzards	</td>
          <td align="right">04:18.65</td>
          </tr>
          <tr>
          <td align="left">wizzards	</td>
          <td align="right">04:18.65</td>
          </tr>
          </table>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="leader_box ">
          <h2 class="dark_orange_box">Year</h2>
          <div class="leader_table">
           <table cellpadding="0" cellspacing="0" border="0">
          <tr>
          <td align="left">parchmingette's</td>
          <td align="right">04:18.65</td>
          </tr>
          <tr>
          <td align="left">Panper Yourself</td>
          <td align="right">04:18.65</td>
          </tr>
          <tr>
          <td align="left">wizzards	</td>
          <td align="right">04:18.65</td>
          </tr>
          <tr>
          <td align="left">wizzards	</td>
          <td align="right">04:18.65</td>
          </tr>
          <tr>
          <td align="left">wizzards	</td>
          <td align="right">04:18.65</td>
          </tr>
          </table>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="leader_box ">
          <h2 class="green_box">All Time</h2>
          <div class="leader_table">
           <table cellpadding="0" cellspacing="0" border="0">
          <tr>
          <td align="left">parchmingette's</td>
          <td align="right">04:18.65</td>
          </tr>
          <tr>
          <td align="left">Panper Yourself</td>
          <td align="right">04:18.65</td>
          </tr>
          <tr>
          <td align="left">wizzards	</td>
          <td align="right">04:18.65</td>
          </tr>
          <tr>
          <td align="left">wizzards	</td>
          <td align="right">04:18.65</td>
          </tr>
          <tr>
          <td align="left">wizzards	</td>
          <td align="right">04:18.65</td>
          </tr>
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
</div>
{% endblock %}