{% extends "portals/base_administration_portal.html" %}
{% load staticfiles %}
{% block content %}
    <div class="page_right_panel col-md-10">
      <div class="inner_left_panel">

        <div class="row">
          <div class="col-sm-4 darhboard_box">
            <div class="dashboard_color_box blue_color_box">
             
              <h2>Crematory</h2>
               <ul class="dashboard_color_box_icon">
                <li><a href="#"><i class="fa fa-folder-open-o" aria-hidden="true"></i> </a></li>
                <li><a href="#"><i class="fa fa-print" aria-hidden="true"></i> </a></li>
              </ul>
              <p><span><i class="fa fa-clock-o" aria-hidden="true"></i> </span> Time limit: 60 mins</p>
              <p><span><i class="fa fa-puzzle-piece" aria-hidden="true"></i> </span> Clues: 4</p>
              <div class="dashboard_color_footer dark_blue_box"> <a href="popup.html">Run Room <span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> </span></a> </div>
            </div>
          </div>
          <div class="col-sm-4 darhboard_box">
            <div class="dashboard_color_box green_color_box">
              <h2>Space Sector</h2>
              <ul class="dashboard_color_box_icon">
                <li><a href="#"><i class="fa fa-folder-open-o" aria-hidden="true"></i> </a></li>
                <li><a href="#"><i class="fa fa-print" aria-hidden="true"></i> </a></li>
              </ul>
              <p><span><i class="fa fa-clock-o" aria-hidden="true"></i> </span> Time limit: 60 mins</p>
              <p><span><i class="fa fa-puzzle-piece" aria-hidden="true"></i> </span> Clues: 4</p>
              <div class="dashboard_color_footer dark_green_box"> <a href="popup.html">Run Room <span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> </span></a> </div>
            </div>
          </div>
          <div class="col-sm-4 darhboard_box">
            <div class="dashboard_color_box orange_color_box">
             
              <h2>Trespassed</h2>
              <ul class="dashboard_color_box_icon">
                <li><a href="#"><i class="fa fa-folder-open-o" aria-hidden="true"></i> </a></li>
                <li><a href="#"><i class="fa fa-print" aria-hidden="true"></i> </a></li>
              </ul>
              <p><span><i class="fa fa-clock-o" aria-hidden="true"></i> </span> Time limit: 60 mins</p>
              <p><span><i class="fa fa-puzzle-piece" aria-hidden="true"></i> </span> Clues: 4</p>
              <div class="dashboard_color_footer dark_orange_box"> <a href="popup.html">Run Room <span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> </span></a> </div>
            </div>
          </div>
          <div class="col-sm-12">
          <div class="dashboard_btn">
          <ul>
          <li>
           <button class="cache_btn">Clear Cache</button></li>
           <li>
           <button class="oflinemode_btn">Request Offline Mode</button>
           </li>
           </ul>
          </div>
          </div>
        
        </div>
       
      </div>
    </div>
{% endblock %} 