{% extends "portals/base_user_portal.html" %}
{% load staticfiles %}
{% block content %}
  <div class="page_right_panel col-md-10">
    <div class="inner_left_panel">
      <div class="row">
        {% for room in object_list %}
          <div class="col-sm-4 darhboard_box">
            <div class="dashboard_color_box">
              <h2>{{room.room_name}}</h2>
               <ul class="dashboard_color_box_icon">
                  {% with room.room_puzzles.all|length as  room_puzzle_count %}
                    {% if room_puzzle_count > 0 %}
                      <li><a href="{% url 'puzzle-gm-stat' room.id %}"><i class="fa fa-folder-open-o" aria-hidden="true" title="Game Master Stats"></i> </a></li>
                      <li><a href="{% url 'puzzle-print' room.id %}" target="_blank" title="Print Puzzles">
                      <i class="fa fa-print" aria-hidden="true"></i> </a>
                    {% endif %}
                  {% endwith%}
                  </li>
              </ul>
              <p><span><i class="fa fa-clock-o" aria-hidden="true"></i> </span> Time limit: {{room.default_time_limit}} mins</p>
              <p><span><i class="fa fa-puzzle-piece" aria-hidden="true"></i> </span> Clues: {{room.num_clues}}</p>
              <div class="dashboard_color_footer" > <a href="{% url 'dashboard_gm_details' room.id%}">Run Room <span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> </span></a> </div>
            </div>
          </div>
          {% if forloop.counter|divisibleby:3 %}
            <div class="col-md-12 darhboard_box_break"></div>
          {% endif %}
        {% endfor %}
        <div class="col-sm-12">
          <div class="dashboard_btn col-sm-6">
            <ul>
              <li>
                <button class="cache_btn clear-cache-btn">Clear Cache</button></li>
              <li>
              <li>
                <button class="oflinemode_btn">Request Offline Mode</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-5 col-sm-offset-7">
        <div id="message-dialog" class="alert alert-success"
        style="bottom: 10px; right: 20px; display: none; z-index: 4000">
          <p> <strong></strong></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}

{{ block.super }}
<link href="{% static 'pages/room/room-list.css' %}" rel="stylesheet">
<script type="text/javascript">
  var URLS = {
    clear_cache: "{% url 'clear-cache' %}"
  }
</script>
<script type="text/javascript" src="{% static 'pages/room/room-list.js' %}"></script>
{% endblock %}