<script type="text/javascript">
	var room_id = "{{object.id}}";
	var display_timer_milliseconds = "{{object.display_timer_milliseconds}}";
    var default_time_limit = "{{object.default_time_limit}}";
    var audio_alert_on_clue_send = "{{object.audio_alert_on_clue_send}}";
    var audio_alert_on_image_clue_send = "{{object.audio_alert_on_image_clue_send}}";
    var audio_alert_on_clue_count_change = "{{object.audio_alert_on_clue_count_change}}";
    var play_soundtrack_on_timer_start = "{{object.play_soundtrack_on_timer_start}}";
    var start_timer_after_video_brief = "{{object.start_timer_after_video_brief}}";
    var success_screen_after_success_video = "{{object.success_screen_after_success_video}}";
    var fail_screen_after_fail_video = "{{object.fail_screen_after_fail_video}}";
    var start_background_video_on_timer_start = "{{object.start_background_video_on_timer_start}}";
    var phUsername = "{{phSetting.username}}";
    var phIpAddress = "{{phSetting.bridge_url}}";
    var phSettings = "{{phSetting.settings_data|safe}}";
    var fontColor = "{{object.font_color}}";
    var initialDataFeedText = "{{object.initial_data_feed_text}}";
</script>