	{% extends "portals/base_administration_portal.html" %}

{% block content %}

<div class="page_right_panel col-md-10">
  	<div class="inner_left_panel">
    	<div class="row">
			<div class="error-wrapper">
			    <div class="row">
			        <div class="well col-md-6 col-md-offset-3 page-404">
			            <h3 style="margin-bottom: 15px;">Oops! Page Not Found ..</h3>
			            <p style="margin: 8px 0;">Sorry, The page you tried cannot be found in the server</p>
						<p style="margin: 8px 0;">You may have typed the address incorrectly or you may have used a wrong link</p>
			        </div>
			    </div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
