{% load i18n static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Escape Room Ctrl | Dashboard</title>
<meta name="description" content="EscapeRoom Ctrl">
<meta name="author" content="ERC">
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'vendor/bootstrap/css/style.css' %}" rel="stylesheet">
<link href="{% static 'vendor/bootstrap/css/font-awesome.css' %}" rel="stylesheet">
<link href="{% static 'global/css/application.css' %}" rel="stylesheet">
</head>
  {% block body %}
  <body>
    {% block main_body %}
    {% endblock %}
  </body>
  {% endblock %}

  {% block extra_js %}
    {{ block.super }}

  <script src="{% static 'vendor/bootstrap/js/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'vendor/progressbars/progress_bar.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/scripts.js' %}"></script>
  <script src="{% static 'vendor/timerjs/jquery.timer.js' %}"></script>
  <script src="{% static 'vendor/timerjs/timerjs.js' %}"></script>
  <script src="{% static 'vendor/socketiojs/socket.io.js' %}"></script>
<!-- Le javascript ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% endblock %}
</html>