{% extends base_portal %}
{% load staticfiles %}
{% block content %}
  <div class="page_right_panel col-md-10">
    <div class="inner_left_panel">
      <div class="row">
        <div class="col-md-4">
          <div class="grey_box">
            <h2>Change Your Password</h2>
            <form id="change-password-form" method="POST" action="{% url 'change_password' %}">
              {% csrf_token %}
                {% if form.non_field_errors %}
                  <ul>
                    {% for error in form.non_field_errors %}
                      <li>
                        <div class="alert alert-danger">
                          {{ error }}
                        </div>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
                  <div class="page_form">
                      {% for field in form %}
                          <div class="page_form_field">
                              {{ field.label_tag }}
                              {{ field.errors }}
                              {{ field }}
                          </div>
                      {% endfor %}
                      <div class="page_form_field">
                          <button class="purple_btn" type="submit">Change My Password</button>
                      </div>
                  </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}