{% extends "no_user_base.html" %}
{% block content %}
  <div class="page_right_panel col-md-10">
    <div class="inner_left_panel">
      <div class="row">
        <div class="col-md-12">
         {% autoescape off %}
			To initiate the password reset process for your {{ user.get_username }} TestSite Account,
			click the link below:

			{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

			If clicking the link above doesn't work, please copy and paste the URL in a new browser
			window instead.

			{% endautoescape %}
        </div>
      </div>
    </div>
  </div>     
{% endblock %}        