{% extends "no_user_base.html" %}
{% block content %}
  <div class="page_right_panel col-md-10">
    <div class="inner_left_panel">
      <div class="row">
        <div class="col-md-12">
          <h1 class="page_heading">Change password</h1>
        </div>
        <div class="col-md-7">
          <div class="grey_box">
            {% if validlink %}
              <h2>Change password</h2>
              <form action="." method="post" id="id-password-confirmation-form">
                {% csrf_token %}
                {{ form.non_field_errors }}

                {% for hidden_field in form.hidden_fields %}
                  {{ hidden_field.errors }}
                  {{ hidden_field }}
                {% endfor %}
                {% if form.non_field_errors %}
                <ul class="errorlist">
                  {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
                <div class="page_form ">
                  {% for field in form %} 
                    <div class="page_form_field">
                        {{ field.label_tag }}
                        {{ field.errors }}
                        {{ field }}
                    </div>
                  {% endfor %}
                  <div class="page_form_field">
                      <button class="purple_btn" type="submit">Save</button>
                  </div>
                </div>
              </form> 
            {% else %}
              <p>
                The password reset link was invalid, possibly because it has already been used.
                Please request a new password reset.
              </p>
            {% endif %}  
          </div>
        </div>
      </div>
    </div>
  </div>     
{% endblock %}