{% extends "no_user_base.html" %}
{% block content %}
  <div class="page_right_panel col-md-10">
    <div class="inner_left_panel">
      <div class="row">
        <div class="col-md-12">
          <p>
            We've emailed you instructions for setting your password, if an account exists with the email you entered.
            You should receive them shortly.
          </p>
          <p>
            If you don't receive an email, please make sure you've entered the address you registered with,
            and check your spam folder.
          </p>
        </div>
      </div>
    </div>
  </div>     
{% endblock %}        