{% extends "portals/base_administration_portal.html" %}
{% load staticfiles %}
{% block content %}
  {% include "automation/form_builder_templates.html" %}
  <div class="page_right_panel col-md-10">
    <div class="inner_left_panel">
      <div class="row">
        <div class="col-md-12">
          <h1 class="page_heading">{{room.room_name}}</h1>
        </div>
          <!-- <input type="hidden" name="room_id" value="{{room_id}}"> -->
          <div class="col-md-4 create-automation">
            <div class="grey_box">
              <h2>Event</h2>
              <div class="page_form">
                <div class="page_form_field">
                  <select id="event-type" name="event_type">
                    {% for event in events %}
                      <option value="{{event.id}}" {% if event.id == event_reference.event.id %} selected {% endif %}>{{event.event_name}}</option>
                    {% endfor %}
                  </select>
                  <p class="event-help-message">When the running timer has elapsed past the specified min and
                  sec,the attached actions will fire</p>
                </div>
                <div class="event-box-body">
                  {% if event_reference.event.event_name == "Time Elapsed" %}
                    {% include "automation/include/events/time-elapsed.html" with is_edit=True %}
                  {% endif %}
                  {% if event_reference.event.event_name == "Network Polling (Listen for Prop)" %}
                    {% include "automation/include/events/network-polling.html" with is_edit=True%}
                  {% endif %}
                  {% if event_reference.event.event_name == "Custom Button" %}
                    {% include "automation/include/events/custom-button.html" with is_edit=True %}
                  {% endif %}
                  {% if event_reference.event.event_name == "Custom Event" %}
                    {% include "automation/include/events/custom-event.html" with is_edit=True %}
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="grey_box">
              <h2>Actions <button class="green_btn add-multiple-action-form">Add Action</button></h2>
              <div class="action-box-body">
                {% for action_referen in action_references %}
                  <div class="page_form">
                    <div class="page_form_field">
                      <select class="event-action" name="event_action">
                        {% for act in actions %}
                          <option value="{{act.id}}" {% if act.id == action_referen.action.id %} selected{% endif %}>{{act.action_name}}</option>
                        {% endfor %}
                      </select>
                      <p class="action-help-message">Display this text to the players</p>
                    </div>
                    <div class="action-inner-box-body">
                      {% if action_referen.action.action_name == "Send Clue Text" %}
                        {% include "automation/include/event_actions/send-clue-text.html" with is_edit=True action_reference_count=action_reference_count %}
                      {%  elif action_referen.action.action_name == "Play Sound" %}
                        {% include "automation/include/event_actions/play-sound.html" with is_edit=True action_reference_count=action_reference_count %}
                      {% elif action_referen.action.action_name == "Play Video" %}
                        {% include "automation/include/event_actions/play-video.html" with is_edit=True action_reference_count=action_reference_count %}
                      {% elif action_referen.action.action_name == "Display Image" %}
                        {% include "automation/include/event_actions/display-image.html" with is_edit=True action_reference_count=action_reference_count %}
                      {% elif action_referen.action.action_name == "Send Network Request (Trigger Prop)" %}
                        {% include "automation/include/event_actions/send-network-request.html" with is_edit=True action_reference_count=action_reference_count %}
                      {% elif action_referen.action.action_name == "Complete Puzzle" %}
                        {% include "automation/include/event_actions/complete-puzzle.html" with is_edit=True action_reference_count=action_reference_count %}
                      {% elif action_referen.action.action_name == "Adjust Time" %}
                        {% include "automation/include/event_actions/adjust-time.html" with is_edit=True action_reference_count=action_reference_count %}
                      {% elif action_referen.action.action_name == "Run Script" %}
                        {% include "automation/include/event_actions/run-script.html" with is_edit=True action_reference_count=action_reference_count %}
                      {% elif action_referen.action.action_name == "Philips Hue Lights Scene" %}
                          {% include "automation/include/event_actions/ph-group.html" with is_edit=True action_reference_count=action_reference_count %}
                          {% include "automation/include/event_actions/ph-groups-and-scene.html" with is_edit=True action_reference_count=action_reference_count %}
                      {% elif action_referen.action.action_name == "Philips Hue Lights Blink" %}
                        {% include "automation/include/event_actions/ph-group.html" with is_edit=True action_reference_count=action_reference_count %}
                        {% include "automation/include/event_actions/ph-blink.html" with is_edit=True action_reference_count=action_reference_count%}
                      {% elif action_referen.action.action_name == "Philips Hue Lights on/off" %}
                        {% include "automation/include/event_actions/ph-group.html" with is_edit=True action_reference_count=action_reference_count %}
                        {% include "automation/include/event_actions/ph-groups-and-onoff.html" with is_edit=True action_reference_count=action_reference_count%}
                      {%else%}
                        <div class="page_form_field">
                          <button class="red_btn remove-action-form">Delete</button>
                        </div>
                      {% endif %}
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
       <form id="create-automation-form" method="post" action="{% url 'edit_automations' room_id automation_id %}">
          {% csrf_token %}
          <input type="hidden" name="data_json" >
          <div class="col-md-12">
            <div class="page_form_field">
              <button class="purple_btn automation_submit" type="submit">Save</button>
              <!-- <input id="save_btn" class="purple_btn" type="submit" value="Save"> -->
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}

{% block extra_js %}

{{ block.super }}
<link href="{% static 'pages/automation/automation.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'vendor/jqueryconfirm/jquery.confirm.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/spinner/jquery.babypaunch.spinner.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/jqueryvalidate/jquery.validate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/underscorejs/underscore-min.js' %}"></script>
<script type="text/javascript">
  // var URLS = {
  //   dashboard_room_automations: "{% url 'dashboard_room_automations' 11111111 %}",
  // }
  var isCreate = false;
  var room_id = "{{room_id}}";
  var get_url_status = "{% url 'get_url_status' %}";
</script>
<script type="text/javascript" src="{% static 'global/js/common.js' %}"></script>
<script type="text/javascript" src="{% static 'pages/automation/automation.js' %}"></script>
{% endblock %}